<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storybook">

    <application
        android:allowBackup="true"
        android:label="StoryBookApp"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5367408521620850~4184326977"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StoryActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
